.border {
    box-shadow: 5px -3px 11px 4px #252525;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

.light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
}

.regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
}

.bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
}

.glow {
    color: #fff;
    text-shadow: 0 0 5px #fff;
}